@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
	margin: 0px;
}

header{
	background: rgb(255, 255, 255);
	color: rgb(212, 183, 14);
	padding: 8px 20px 6px 40px;
	height: 50px;

}

header h1{
	display: inline;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}

nav ul {
	display: inline;
	padding: 0px;
	float: right;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 11px;	
}

nav ul li a{
	color: rgb(16, 188, 201);
	text-decoration: none;
  font-family: monospace;
  letter-spacing: 0.5px;
  font-size: 17px; 
   text-transform: uppercase;
     font-weight: bold;

}


nav ul ul{
	display: none;
	position: absolute;
}

#navli ul li ul:hovar{
	visibility: visible;
	display: block;
}
#navli{
	font-family: sans-serif;
}
.homered{
	background-color: rgba(163, 76, 152, 0.733);
	padding: 20px 10px 20px 10px;
	border-radius: 17px;

}

.divider{
	background-color: rgb(123, 155, 197);
	height: 5px;
}

.homeblack:hover{
	background-color: rgb(61, 150, 95);
	padding: 20px 10px 21px 10px;
	border-radius: 17px;

}

table {
margin: 0px;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color:#76D7C4;}

th {
  background-color: #ebaf0c;
  color: white;
}

.p-t-20 {
  padding-top: 20px;
  
}

.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
  
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 90px;
}

.btn--green {
  background: #77c768;

}


.content {	
	position: relative;
  }
  
  .content h2 {
	color: #fff;
	font-size: 2.5em;
	position: absolute;
	left: 178px;
	top: -13px;
	transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #1584c4e3;
  }
  
  .content h2:nth-child(2) {
	color:#1584c4e3;
	animation: animate 1s ease-in-out infinite;
  }
  
  @keyframes animate {
	0%,
	100% {
	  clip-path: polygon(
		0% 45%,
		16% 44%,
		33% 50%,
		54% 60%,
		70% 61%,
		84% 59%,
		100% 52%,
		100% 100%,
		0% 100%
	  );
	}
  
	50% {
	  clip-path: polygon(
		0% 60%,
		15% 65%,
		34% 66%,
		51% 62%,
		67% 50%,
		84% 45%,
		100% 46%,
		100% 100%,
		0% 100%
	  );
	}
  }






